{% extends "base.html" %}

{% block navbar %}
  {% include 'components/navbar.html' %}
{% endblock navbar %}

{% block content %}

{% if user.is_authenticated %}
  {% include 'components/modal.html' %}
{% endif %}

<div class="container">
  <div class="row">
    <div class="mt-4 text-center">
      <h2>Product List</h2>
    </div>

    {% for product in products %}
      <div class="col-md-4">
        <div class="card" style="width: 18rem;">
          {% if product.thumbnail.url %}
            <img src="{{product.thumbnail.url}}" class="card-img-top" alt="...">
          
          {% else %}
          {% endif %}
          <div class="card-body">
            <h5 class="card-title">{{product.name}}</h5>
            <div>
              <p class="card-text">{{ product.description|truncatechars:100 }}</p>
              <p class="card-text float-right">$ {{ product.price_display }}</p>
      
            </div>
            <hr>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
</div>
{% endblock content %}

{% block footer %}

{% endblock footer %}

{% block javascript %}

{% endblock javascript %}