<!DOCTYPE html>
<html lang="en">
  <head>
    <title>AG MarketPlace | You can find whatever you want </title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
      {% load bootstrap5 %}
      {% bootstrap_css %}
      {% bootstrap_javascript %}

  </head>
  <body>

    {% block navbar %} {% endblock navbar %}
    
    {% block content %} {% endblock content %}
    
    {% block footer  %} {% endblock footer %}

    {% block javascript %} {% endblock javascript %}
  </body>
</html>